<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flightassistant">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".TodActivity"></activity>
        <activity android:name=".AirbusActivity" />
        <activity android:name=".ChecksActivity" />
        <activity android:name=".ConvActivity" />
        <activity android:name=".LfoqActivity" />
        <activity android:name=".LfbsActivity" />
        <activity android:name=".LfbzActivity" />
        <activity android:name=".LfmuActivity" />
        <activity android:name=".LfqmActivity" />
        <activity android:name=".LfbeActivity" />
        <activity android:name=".LfobActivity" />
        <activity android:name=".LfkbActivity" />
        <activity android:name=".LfsbActivity" />
        <activity android:name=".LfoaActivity" />
        <activity android:name=".LfmvActivity" />
        <activity android:name=".LflaActivity" />
        <activity android:name=".LflwActivity" />
        <activity android:name=".LfdhActivity" />
        <activity android:name=".LflpActivity" />
        <activity android:name=".LfbuActivity" />
        <activity android:name=".LfjrActivity" />
        <activity android:name=".LfayActivity" />
        <activity android:name=".LfciActivity" />
        <activity android:name=".LfaqActivity" />
        <activity android:name=".LfkjActivity" />
        <activity android:name=".LfmaActivity" />
        <activity android:name=".PdfActivity" />
        <activity android:name=".ChartsActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>