<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flightassistant">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mon_icone"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mon_icone_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".LfhvActivity"></activity>
        <activity android:name=".LfpvActivity" />
        <activity android:name=".LflvActivity" />
        <activity android:name=".LfrvActivity" />
        <activity android:name=".LfavActivity" />
        <activity android:name=".LfluActivity" />
        <activity android:name=".LfqbActivity" />
        <activity android:name=".LfpnActivity" />
        <activity android:name=".LfotActivity" />
        <activity android:name=".LfbfActivity" />
        <activity android:name=".LfboActivity" />
        <activity android:name=".LfbtActivity" />
        <activity android:name=".LfstActivity" />
        <activity android:name=".LfksActivity" />
        <activity android:name=".LfmyActivity" />
        <activity android:name=".LflnActivity" />
        <activity android:name=".LfrzActivity" />
        <activity android:name=".LfmhActivity" />
        <activity android:name=".LfsiActivity" />
        <activity android:name=".LfrtActivity" />
        <activity android:name=".LfcyActivity" />
        <activity android:name=".LfopActivity" />
        <activity android:name=".LfcrActivity" />
        <activity android:name=".LfdnActivity" />
        <activity android:name=".LfloActivity" />
        <activity android:name=".LfrnActivity" />
        <activity android:name=".LfqaActivity" />
        <activity android:name=".LfrqActivity" />
        <activity android:name=".LfptActivity" />
        <activity android:name=".LfbiActivity" />
        <activity android:name=".LfqpActivity" />
        <activity android:name=".LfmpActivity" />
        <activity android:name=".LfbxActivity" />
        <activity android:name=".LfbpActivity" />
        <activity android:name=".LfpoActivity" />
        <activity android:name=".LfpbActivity" />
        <activity android:name=".LfpgActivity" />
        <activity android:name=".LfdjActivity" />
        <activity android:name=".LfecActivity" />
        <activity android:name=".LfozActivity" />
        <activity android:name=".LfojActivity" />
        <activity android:name=".LfmoActivity" />
        <activity android:name=".LfbnActivity" />
        <activity android:name=".LftwActivity" />
        <activity android:name=".LfmnActivity" />
        <activity android:name=".LfqgActivity" />
        <activity android:name=".LfrsActivity" />
        <activity android:name=".LfsoActivity" />
        <activity android:name=".LfsnActivity" />
        <activity android:name=".LfbrActivity" />
        <activity android:name=".LfhyActivity" />
        <activity android:name=".LfruActivity" />
        <activity android:name=".LfmtActivity" />
        <activity android:name=".LfbkActivity" />
        <activity android:name=".LfsmActivity" />
        <activity android:name=".LfbmActivity" />
        <activity android:name=".LfjlActivity" />
        <activity android:name=".LfqtActivity" />
        <activity android:name=".LfnbActivity" />
        <activity android:name=".LfpmActivity" />
        <activity android:name=".LfmlActivity" />
        <activity android:name=".LfllActivity" />
        <activity android:name=".LflyActivity" />
        <activity android:name=".LfsxActivity" />
        <activity android:name=".LfrhActivity" />
        <activity android:name=".LfblActivity" />
        <activity android:name=".LfqqActivity" />
        <activity android:name=".LfatActivity" />
        <activity android:name=".LfhpActivity" />
        <activity android:name=".LfrmActivity" />
        <activity android:name=".LfohActivity" />
        <activity android:name=".LfmcActivity" />
        <activity android:name=".LfqhActivity" />
        <activity android:name=".LfmqActivity" />
        <activity android:name=".LfovActivity" />
        <activity android:name=".LfrlActivity" />
        <activity android:name=".LfroActivity" />
        <activity android:name=".LfrjActivity" />
        <activity android:name=".LfbhActivity" />
        <activity android:name=".LfriActivity" />
        <activity android:name=".LftzActivity" />
        <activity android:name=".LfmiActivity" />
        <activity android:name=".LfeyActivity" />
        <activity android:name=".LfthActivity" />
        <activity android:name=".LflsActivity" />
        <activity android:name=".LfevActivity" />
        <activity android:name=".LffkActivity" />
        <activity android:name=".LfkfActivity" />
        <activity android:name=".LfoeActivity" />
        <activity android:name=".LfqeActivity" />
        <activity android:name=".LfsgActivity" />
        <activity android:name=".LfgjActivity" />
        <activity android:name=".LfrdActivity" />
        <activity android:name=".LfsdActivity" />
        <activity android:name=".LfabActivity" />
        <activity android:name=".LfrgActivity" />
        <activity android:name=".LfgaActivity" />
        <activity android:name=".LfbgActivity" />
        <activity android:name=".LflcActivity" />
        <activity android:name=".LfouActivity" />
        <activity android:name=".LfrcActivity" />
        <activity android:name=".LflxActivity" />
        <activity android:name=".LfocActivity" />
        <activity android:name=".LfjyActivity" />
        <activity android:name=".LflbActivity" />
        <activity android:name=".LfokActivity" />
        <activity android:name=".LflhActivity" />
        <activity android:name=".LfbcActivity" />
        <activity android:name=".LfckActivity" />
        <activity android:name=".LfmkActivity" />
        <activity android:name=".LfmdActivity" />
        <activity android:name=".LfkcActivity" />
        <activity android:name=".LfacActivity" />
        <activity android:name=".LfccActivity" />
        <activity android:name=".LfrkActivity" />
        <activity android:name=".LfslActivity" />
        <activity android:name=".LfrbActivity" />
        <activity android:name=".LfldActivity" />
        <activity android:name=".LfbdActivity" />
        <activity android:name=".BoeingActivity" />
        <activity android:name=".TodActivity" />
        <activity android:name=".AirbusActivity" />
        <activity android:name=".ChecksActivity" />
        <activity android:name=".ConvActivity" />
        <activity android:name=".LfoqActivity" />
        <activity android:name=".LfbsActivity" />
        <activity android:name=".LfbzActivity" />
        <activity android:name=".LfmuActivity" />
        <activity android:name=".LfqmActivity" />
        <activity android:name=".LfbeActivity" />
        <activity android:name=".LfobActivity" />
        <activity android:name=".LfkbActivity" />
        <activity android:name=".LfsbActivity" />
        <activity android:name=".LfoaActivity" />
        <activity android:name=".LfmvActivity" />
        <activity android:name=".LflaActivity" />
        <activity android:name=".LflwActivity" />
        <activity android:name=".LfdhActivity" />
        <activity android:name=".LflpActivity" />
        <activity android:name=".LfbuActivity" />
        <activity android:name=".LfjrActivity" />
        <activity android:name=".LfayActivity" />
        <activity android:name=".LfciActivity" />
        <activity android:name=".LfaqActivity" />
        <activity android:name=".LfkjActivity" />
        <activity android:name=".LfmaActivity" />
        <activity android:name=".PdfActivity" />
        <activity android:name=".ChartsActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>